# Project 1 â€” NYPD Shooting Incident Data (2019)

This project uses the NYPD Shooting Incident Data from 2019 to practice working with data in **pandas** and the **Python standard library**.  
Weâ€™ll calculate basic descriptive statistics (mean, median, mode) for a numeric column and visualize the result using pure Python.

In [ ]:
import pandas as pd

df = pd.read_csv("nypd_shootings_2019.csv")

print(df.head())
print("\nColumns:", df.columns.tolist())

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,206890929,12/31/2019,23:15:00,MANHATTAN,28,0.0,HOTEL/MOTEL,True,25-44,M,BLACK,25-44,M,BLACK,997155,230828,40.800244,-73.953390
1,206891917,12/31/2019,20:14:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1007235,179932,40.660527,-73.917156
2,206882664,12/30/2019,21:29:00,BROOKLYN,71,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1000996,178614,40.656923,-73.939647
3,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006612,189509,40.686815,-73.919370
4,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1006612,189509,40.686815,-73.919370

In [ ]:
numeric_col = "PRECINCT"
data = df[numeric_col].dropna()

mean_pandas = data.mean()
median_pandas = data.median()
mode_pandas = data.mode()[0]

print("ðŸ“Š Pandas Results")
print(f"Mean: {mean_pandas:.2f}")
print(f"Median: {median_pandas:.2f}")
print(f"Mode: {mode_pandas:.2f}")

In [ ]:
import csv

values = []
with open("nypd_shootings_2019.csv", newline='', encoding='utf-8') as f:
    reader = csv.DictReader(f)
    for row in reader:
        try:
            val = float(row["PRECINCT"])
            values.append(val)
        except ValueError:
            pass

values.sort()
n = len(values)
mean_std = sum(values) / n
median_std = values[n//2] if n % 2 != 0 else (values[n//2 - 1] + values[n//2]) / 2

# Mode 
counts = {}
for v in values:
    counts[v] = counts.get(v, 0) + 1
mode_std = max(counts, key=counts.get)

print("ðŸ§® Standard Library Results")
print(f"Mean: {mean_std:.2f}")
print(f"Median: {median_std:.2f}")
print(f"Mode: {mode_std:.2f}")

In [ ]:
print("\nðŸ“ˆ NYPD Shootings by Precinct (in ASCII chart):")

precinct_counts = {}
for val in values:
    precinct_counts[val] = precinct_counts.get(val, 0) + 1

for precinct, count in sorted(precinct_counts.items()):
    print(f"Precinct {int(precinct):3}: {'*' * (count // 10)} ({count})")